{% extends 'homebase.html' %}
{% load staticfiles %}
{% load cropping %}
{% block title %} 1212 Tournaments {% endblock %}
{% block content %}


       
            <!-- Section Title -->           
            <section class="section-title img-about">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>Tournaments</h1>
                </div>
            </section>
            <!-- End Section Title --> 

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="crumbs">
                    <div class="container">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>/</li>
                            <li>Tournaments</li>                                       
                        </ul>
                    </div>        
                </div>

                <div class="semiboxshadow text-center">
                    <img src="{% static 'img/img-theme/shp.png' %}" class="img-responsive" alt="">
                </div>



  <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">
                        <!-- content Players --> 
                        <div class="col-md-12"> 
                            <!-- Content - Group A-->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>1212 Polo Tournaments</h4>
                                </div>
                                <!-- Item club -->
                                
                               
                                <div class="row clubs-teams">
                                    <!-- Item clubs --> 
                                    <div class="col-sx-12 col-sm-6 col-md-4">
                                        <div class="item-clubs">
                                            <div class="img-clubs">
                                                <img src="{% static 'img/clubs-team/1.png' %}" alt="" class="img-responsive">
                                            </div>
                                            <div class="info-clubs">
                                                <h4><a href="#">Abuja Open Cup</a></h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item clubs --> 

                                    <!-- Item clubs --> 
                                    <div class="col-sx-12 col-sm-6 col-md-4">
                                        <div class="item-clubs">
                                            <div class="img-clubs">
                                                <img src="{% static 'img/clubs-team/2.png' %}" alt="" class="img-responsive">
                                            </div>
                                            <div class="info-clubs">
                                                <h4><a href="#">President's Cup</a></h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item clubs --> 

                                    <!-- Item clubs --> 
                                    <div class="col-sx-12 col-sm-6 col-md-4">
                                        <div class="item-clubs">
                                            <div class="img-clubs">
                                                <img src="{% static 'img/clubs-team/3.png' %}" alt="" class="img-responsive">
                                            </div>
                                            <div class="info-clubs">
                                                <h4><a href="#">Senate President's Cup</a></h4>
                                                <p>Lorem Ipsum is simply dummy text of the printing</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item clubs --> 

                                    <!-- Item clubs --> 
                                    <div class="col-sx-12 col-sm-6 col-md-4">
                                        <div class="item-clubs">
                                            <div class="img-clubs">
                                                <img src="{% static 'img/clubs-team/4.png' %}" alt="" class="img-responsive">
                                            </div>
                                            <div class="info-clubs">
                                                <h4><a href="#">Emir of Katsina's Cup</a></h4>
                                                <p>Lorem ipsum dolor sit amet, contur adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item clubs --> 
                                    <!-- Item clubs --> 
                                    <div class="col-sx-12 col-sm-6 col-md-4">
                                        <div class="item-clubs">
                                            <div class="img-clubs">
                                                <img src="{% static 'img/clubs-team/5.png' %}" alt="" class="img-responsive">
                                            </div>
                                            <div class="info-clubs">
                                                <h4><a href="#">Argnetine Ambassador's Cup</a></h4>
                                                <p>Lorem ipsum dolor sit amet, contur adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item clubs --> 
                                    <!-- Item clubs --> 
                                    <div class="col-sx-12 col-sm-6 col-md-4">
                                        <div class="item-clubs">
                                            <div class="img-clubs">
                                                <img src="{% static 'img/clubs-team/6.png' %}" alt="" class="img-responsive">
                                            </div>
                                            <div class="info-clubs">
                                                <h4><a href="#">Patron's Cup</a></h4>
                                                <p>Lorem ipsum dolor sit amet, contur adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item clubs -->
                                    
                                    
                                        <!-- Item clubs --> 
                                    <div class="col-sx-12 col-sm-6 col-md-4">
                                        <div class="item-clubs">
                                            <div class="img-clubs">
                                                <img src="{% static 'img/clubs-team/4.png' %}" alt="" class="img-responsive">
                                            </div>
                                            <div class="info-clubs">
                                                <h4><a href="#">FCT Minister's Cup</a></h4>
                                                <p>Lorem ipsum dolor sit amet, contur adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item clubs --> 
                                      
                                    
                                </div>
                                <!-- End Item club -->
                            </div>  
                            <!-- End Content - Group A-->

{% endblock %}