{% extends 'homebase.html' %}
{% load disqus_tags %}
{% disqus_dev %}
{% load staticfiles %}
{% load cropping %}
{% load daguerre %}
{% block title %} 1212 Polo News {% endblock %}
{% block content %}

  <!-- Section Title -->           
            <section class="section-title img-news">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>{{thenews.caption}}</h1>
                </div>
            </section>
            <!-- End Section Title --> 

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <br/><br/>

                <br/><br/><br/><br/>
                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">
                        
                        <!-- content Column Left -->
                        <div class="col-md-10">                     
                            <!-- Single Post -->
                            <div class="panel-box">

                                <!-- Title Post -->
                                <div class="titles">
                                    <h4>{{thenews.caption}}</h4>
                                </div>
                                <!-- Title Post -->

                                <!-- Post Item -->
                                <div class="post-item single-news">
                                    <div class="row">
                                        <!-- Image Post -->
                                        <div class="col-md-12">
                                            <p class="data-info">{{thenews.created|date:"F d, Y"}}  </p>
                                            <!-- Mini SLide --> 
                                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                              <ol class="carousel-indicators">
                                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                                              </ol>
                                              <div class="carousel-inner">
                                                <div class="item active">
                                                  <img src="{% adjust thenews.image "fit" %}">
                                                </div>
                                                <div class="item">
                                                  <img src="{% static 'img/blog/2.jpg' %}">
                                                </div>
                                                <div class="item">
                                                  <img src="{% static 'img/blog/3.jpg' %}">
                                                </div>
                                              </div>
                                              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                              </a>
                                              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                              </a>
                                            </div>
                                            <!-- End Mini SLide -->
                                        </div>
                                        <!-- Image Post -->

                                        <!-- Info Post -->
                                        <div class="col-md-12 padding-top-mini">
                                       {{thenews.story|safe}}
                                       
                                             </div>
                                        <!-- End Info Post -->
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                            </div>  
                            <!-- End Single Post --> 

                            <!-- Comments --> 
                            <div class="panel-box">
                                <!-- Title Post -->
                                <div class="titles">
                                    <h4>Comments</h4>
                                </div>
                                <!-- Title Post -->
                                
                                {% disqus_show_comments "1212 Polo" %}
                                {% disqus_recent_comments "1212 Polo" 5 50 0 24 %}
                                {% comment %}
                                <ul  class="testimonials">
                                    <li>
                                        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque!.</p>
                                        <img src="img/testimonials/1.jpg" alt="">
                                        <strong>Federic Gordon</strong><a href="#">@iwthemes</a></blockquote>
                                    </li>
                                    <li>
                                        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque!.</p>
                                        <img src="img/testimonials/2.jpg" alt="">
                                        <strong>Federic Gordon</strong><a href="#">@iwthemes</a></blockquote>
                                    </li>
                                    <li>
                                        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque!.</p>
                                        <img src="img/testimonials/3.jpg" alt="">
                                        <strong>Federic Gordon</strong><a href="#">@iwthemes</a></blockquote>
                                    </li>
                                </ul>
                                
                                {% endcomment %}
                            </div>
                            <!-- End Comments --> 

                            <!-- Comment Form -->
                            {% comment %}
                            <div class="panel-box">
                                <!-- Title Post -->
                                <div class="titles">
                                    <h4>New Form</h4>
                                </div>
                                <div class="row">
                                     <!-- Form coment -->
                                    <form class="form-theme">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label>Your name *</label>
                                                    <input type="text"  required="required" value="" maxlength="100" class="form-control" name="name" id="name">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Your email address *</label>
                                                    <input type="email"  required="required" value="" maxlength="100" class="form-control" name="email" id="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Comment *</label>
                                                    <textarea maxlength="5000" rows="10" class="form-control" name="comment" id="comment" style="height: 138px;" required="required" ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" value="Post Comment" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Form coment -->
                                </div>
                            </div>
                            {% endcomment %}
                            <!-- End Comment Form --> 
                        </div>
                         <!-- End content Left -->

                        
                            

                           

                            

                           
                            
                        </aside>
                        <!-- End content Sidebar Right -->
                    </div>                     
                </div>  
                <!-- End Content Central -->

                <!-- Newsletter -->
               
                <!-- End Newsletter -->  
            </section>
            <!-- End Section Area -  Content Central -->


{% endblock %}