 {% load staticfiles %}
 <header>
                <!-- End headerbox-->
                <div class="headerbox">
                    <div class="container">
                        <div class="row">
                            <!-- Logo-->
                            <div class="col-md-3 logo">
                                <a href="{% url "home" %}">                            
                                    <img src="{% static "img/logo.png" %}" class="logo_img">
                                </a>
                            </div>
                            <!-- End Logo-->

                            <!-- Adds Header-->
                            <div class="col-md-9 adds">
                            <div class="socila">
                            <div class="colsi">
                             <img src="{% static "img/phone.png" %}" class="logo_img">
                            </div>
                             <div class="colsi">
                            <h1><a href="tel:+2348098233966" style="color:#000;">+234 809 823 3966</a></h1>
                            </div>
                            </div>
                            </div>
                            <!-- End Adds Header-->
                        </div>
                    </div>
                </div>
                <!-- End headerbox-->  

                <!-- mainmenu-->
                <nav class="mainmenu">
                    <div class="container">
                        <!-- Menu-->
                        <ul class="sf-menu" id="menu">
                            <li class="selected">
                                <a href="{% url "home" %} ">Home</a>
                            </li>                                
                            <li class="current">
                                <a href="#">About</a>
                                <ul class="sub-current">
                                    <li>
                                        <a href="{% url "about" %}">History</a>
                                    </li>
                                    
                                    <li>
                                        <a href="{% url 'pages:page' 'trustees' %}">Trustees</a>
                                    </li>
                                </ul>
                            </li>
                            
                            
                             <li>
                                <a href="{% url 'pages:page' 'horseracing' %}">Horse Racing</a>
                                <div class="sf-mega">
                                    <div class="col-md-3">
                                        <h4>Prominent Challenge Cups</h4>
                                        <ul>                                                
                                            <li><a href="#"></a></li>
                                            <li><a href="#">Abuja Derby Cup</a></li>
                                            <li><a href="#">Sultan Abubakar III Cup</a></li>
                                            <li><a href="#">IBB Cup</a></li>
                                             <li><a href="#">Speaker's Cup</a></li>
                                              <li><a href="#">Emir of Zazzau's Cup</a></li>
                                       <li><a href="#">Queens Cup</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                      <h4>Sultan Abubakar Race Track</h4>
                                      <div class="img-hover">
                                         <img src="{% static "img/thumbs/racing_thumb.jpg"%}" alt="" class="img-responsive">
                                         <div class="overlay"><a href="{% url 'pages:page' 'horseracing' %}">+</a></div>
                                      </div>
                                    </div>

                                   <!-- <div class="col-md-3">
                                      <h4>Horsemen & Trainers</h4>
                                      <div class="img-hover">
                                         <img src="{% static 'img/blog/2.jpg' %}" alt="" class="img-responsive">
                                         <div class="overlay"><a href="#">+</a></div>
                                      </div>
                                    </div>-->
<!--
                                    <div class="col-md-3">
                                      <h4>Racing News</h4>
                                      <div class="img-hover">
                                         <img src="{% static 'img/blog/3.jpg' %}" alt="" class="img-responsive">
                                         <div class="overlay"><a href="#">+</a></div>
                                      </div>
                                    </div>
                                </div>-->
                            </li>
                            
                             <li>
                                <a href="{% url 'pages:page' 'tournaments' %}">Tournaments</a>
                                <div class="sf-mega">
                                    <div class="col-md-3">
                                        <h4>Prominent Challenge Cups</h4>
                                        <ul>                                                
                                            <li><a href="#"></a></li>
                                            <li><a href="#">Abuja Open Cup</a></li>
                                            <li><a href="#">President's Cup</a></li>
                                            <li><a href="#">Senate President's Cup</a></li>
                                             <li><a href="#">Emir of Katsina's Cup</a></li>
                                              <li><a href="#">Argnetine Ambassador's Cup</a></li>
                                       <li><a href="#">Patron's Cup</a></li>
                                         <li><a href="#">FCT Minister's Cup</a></li>
                                        </ul>
                                    </div>
                                     <div class="col-md-3">
                                      <h4>Exhilarating Polo </h4>
                                      <div class="img-hover">
                                         <img src="{% static 'img/thumbs/polo_thumb.jpg' %}" alt="" class="img-responsive">
                                          <div class="overlay"><a href="{% url 'pages:page' 'tournaments' %}">+</a></div>
                                      </div></div>
                                    <div class="col-md-3">
                                      <h4>Polo Tournaments</h4>
                                      <div class="img-hover">
                                              1212 Organizes a number of prestigious tournaments , horse racing events  and other equisterion
                                        tournaments. Prominent among which are:
                                         <div class="overlay"><a href="{% url 'pages:page' 'tournaments' %}">+</a></div>
                                      </div>
                                    </div>

                                    

                                    
                          
                                </div>
                            </li>
                            
                            
                             <li>
                                <a href="#">Multimedia & Events</a>
                                <div class="sf-mega">
                                    <div class="col-md-3">
                                         Documented  Moments & Times 
                                        <ul>                                                
                                            <li><a href="#"></a></li>
                                            <li><a href="#">Videos</a></li>
                                            <li><a href="{% url 'multimedia:photos' '' %}">Photos</a></li>
                                            <li><a href="#">Audio/Podcast</a></li>
                                             <li><a href="#">Events</a></li>
                                             
                                                                 </ul>
                                    </div>

                                    <div class="col-md-3">
                                      <h4>Upcoming Events</h4>
                                      <div class="img-hover">
                                         <img src="{% static "img/thumbs/trophies_thumb.jpg"%}" alt="" class="img-responsive">
                                         <div class="overlay"><a href="#">+</a></div>
                                      </div>
                                    </div>

                                    <div class="col-md-3">
                                      <h4>Recent Photos</h4>
                                      <div class="img-hover">
                                         <img src="{% static 'img/thumbs/carnival_thumb.jpg' %}" alt="" class="img-responsive">
                                         <div class="overlay"><a href="{% url 'multimedia:photos' 'recent' %}/">+</a></div>
                                      </div>
                                    </div>

                                    <div class="col-md-3">
                                      <h4>Recent Videos</h4>
                                      <div class="img-hover">
                                         <img src="{% static 'img/blog/3.jpg' %}" alt="" class="img-responsive">
                                         <div class="overlay"><a href="#">+</a></div>
                                      </div>
                                    </div>
                                </div>
                            </li>
                            
                            <li class="current">
                                <a href="#">Facilities</a>
                                <ul class="sub-current">
                                    <li>
                                        <a href="{% url 'pages:page' 'terrace_lounge' %}">Terrace Lounge</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'pages:page' 'turf_club' %}">Turf Club</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'pages:page' 'race_track' %}">Race Track</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'pages:page' 'polo_field' %}">Polo Field</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'pages:page' 'stables' %}">Stables</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'pages:page' 'vet_services' %}">Vet Services</a>
                                    </li>
                                </ul>
                            </li> 
                            
                            <li>
                                <a href="#">Shop</a>
                            </li> 
                            
                            <li>
                                <a href="#">Contact</a>
                            </li> 
                        </ul>
                        
                        
                        <!-- End Menu-->
                    </div>
                </nav>
                <!-- End mainmenu-->
            </header>