{% extends "homebase.html" %}


{% block content %}
{% load staticfiles %}
{% load cropping %}
{% load daguerre %}
 <!-- Slide -->           
            <section class="camera_wrap camera_white_skin" id="slide">
                <!-- Item Slide - Caption -->
                {% for s in sliders %}
                    <div  data-src="{% cropped_thumbnail s "thumb_small" %}">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                   {% if s.title %}
                                    <h1 class="animated fadeInRight">
                                        {{s.title }}
                                    </h1>
                                {% endif %}
                                {% if s.description %}
                                    <p class="animated fadeInRight delay1">
                                        
                                        
                                        {{s.description}}
                                    
                                    </p>
                                {% endif %}
                                    {% if s.url %}
                                    <div class="more animated fadeInRight delay2">
                                        <a href="{{s.url}}" class="btn btn-primary" name="subscribe" >More Info</a>
                                    </div>
                                {% endif %}
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                {% empty %}
                <div  data-src="{% static "img/slide/slides/1.jpg" %}">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                    <h1 class="animated fadeInRight">
                                        Lorem Ipsum
                                    </h1>   
                                    <p class="animated fadeInRight delay1">The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->
 

               
            {% endfor %}
            </section>   
            <!-- End Slide --> 

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="semiboxshadow text-center">
                    <img src="{% static 'img/img-theme/shp.png' %}" class="img-responsive" alt="">
                </div>
                
                <!-- Dark Home -->
                <div class="bg-dark dark-home">
                    <div class="row">
                        <!-- Left Content - Tabs and Carousel -->
                        <div class="col-md-9">
                            <!-- Nav Tabs -->
                            <ul class="nav nav-tabs" id="myTab">
                               <li class="active"><a href="#feature-news" data-toggle="tab">FEATURED EVENTS</a></li>
                               <li><a href="#players-staff" data-toggle="tab">PLAYERS AND STAFF</a></li>
                                   </ul>
                            <!-- End Nav Tabs -->

                            <!-- Content Tabs -->
                            <div class="tab-content">
                                <!-- Tab One - Feature News -->
                                <div class="tab-pane active" id="feature-news">
                                    <!-- blog post-->  
                                    <ul id="events-carousel" class="events-carousel padding-top">
                                        <!-- Item blog post -->
                                      
                                        {% for e in events %}
                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span>{{e.start_date.day}} / {{e.start_date | date:"b"}}</span>
                                                    {{e.start_date.year}}
                                                </div>
                                                <a href="{% url 'events:event' e.slug %}"><img src="{% cropped_thumbnail e "event_thumb_small" %}" alt=""></a>
                                                
                                            </div>
                                            <div class="info-post">
                                                <h4><a href="{% url 'events:event' e.slug %}">{{e.title}}</a></h4>
                                                <p>{{e.brief|truncatewords:10}}</p>
                                            </div>
                                        </li>
                                        
                                        {% if events.count < 2 %}
                                              
                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span>{{e.start_date.day}} / {{e.start_date | date:"b"}}</span>
                                                    {{e.start_date.year}}
                                                </div>
                                                <a href="{% url 'events:event' e.slug %}"><img src="{% cropped_thumbnail e "event_thumb_small" %}" alt=""></a>
                                                
                                            </div>
                                            <div class="info-post">
                                                <h4><a href="{% url 'events:event' e.slug %}">{{e.title}}</a></h4>
                                                <p>{{e.brief|truncatewords:10}}</p>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span>{{e.start_date.day}} / {{e.start_date | date:"b"}}</span>
                                                    {{e.start_date.year}}
                                                </div>
                                                <a href="{% url 'events:event' e.slug %}"><img src="{% cropped_thumbnail e "event_thumb_small" %}" alt=""></a>
                                                
                                            </div>
                                            <div class="info-post">
                                                <h4><a href="{% url 'events:event' e.slug %}">{{e.title}}</a></h4>
                                                <p>{{e.brief|truncatewords:10}}</p>
                                            </div>
                                        </li>                         
                                           {% endif %}
                                           

                                    {% empty %}
                                        <!-- End Item blog post -->

                                         

                                        

                                       

                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span> Featured Event</span>
                                                    
                                                </div>
                                                     </div>
                                            <div class="info-post">
                                               <h4><a href="#">None</a></h4>
                                                <p>No featured event listed.</p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->
                                    {% endfor %}
                                    </ul>
                                    <!-- End blog post-->  
                                </div>
                                <!-- Tab One - Feature News -->

                                <!-- Tab Two - Players Staff -->
                                <div class="tab-pane" id="players-staff">
                                    <h3>Players / Staff</h3>
                                    <!-- Item Players-->  
                                    <ul id="players-carousel" class="players ">
                                        <!-- Item Player -->
                                        {% for p in s_and_p %}
                                        <li class="item-player">
                                            <img src="{% cropped_thumbnail p "photo_thumb" %}" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">{{p.name}}</a></h4>
                                                <div class="overlay-player">
                                                    <p>{{p.profile}} </p>
                                                </div>
                                            </div>
                                        </li>
                                        {% if s_and_p.count < 2 %}
                                            
                                             <li class="item-player">
                                            <img src="{% cropped_thumbnail p "photo_thumb" %}" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">{{p.name}}</a></h4>
                                                <div class="overlay-player">
                                                    <p>{{p.profile}} </p>
                                                </div>
                                            </div>
                                        </li>
                                              <li class="item-player">
                                            <img src="{% cropped_thumbnail p "photo_thumb" %}" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">{{p.name}}</a></h4>
                                                <div class="overlay-player">
                                                    <p>{{p.profile}} </p>
                                                </div>
                                            </div>
                                        </li>
                                               <li class="item-player">
                                            <img src="{% cropped_thumbnail p "photo_thumb" %}" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">{{p.name}}</a></h4>
                                                <div class="overlay-player">
                                                    <p>{{p.profile}} </p>
                                                </div>
                                            </div>
                                        </li>
                                               
                                    {% endif %}
                                    
                                     {% if s_and_p.count > 2 and s_and_p < 4 %}
                                            
                                             
                                              <li class="item-player">
                                            <img src="{% cropped_thumbnail p "photo_thumb" %}" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">{{p.name}}</a></h4>
                                                <div class="overlay-player">
                                                    <p>{{p.profile}} </p>
                                                </div>
                                            </div>
                                        </li>
                                               <li class="item-player">
                                            <img src="{% cropped_thumbnail p "photo_thumb" %}" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">{{p.name}}</a></h4>
                                                <div class="overlay-player">
                                                    <p>{{p.profile}} </p>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                      {% if s_and_p.count == 3 %}
                                            
                                             
 
                                               <li class="item-player">
                                            <img src="{% cropped_thumbnail p "photo_thumb" %}" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">{{p.name}}</a></h4>
                                                <div class="overlay-player">
                                                    <p>{{p.profile}} </p>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% empty %}
                                        
                                        <!-- End Player post -->
                                    {% endfor %}
                                    </ul>
                                    <!-- End Item Players-->  
                                </div>
                                <!-- Tab Two - Players Staff -->

                                
                                    
                            </div>
                            <!-- Content Tabs -->
                        </div> 
                        <!-- Left Content - Tabs and Carousel -->    

                        <!-- Right Content - Content Counter -->
                       {%comment %}
                        <div class="col-md-3">
                            <aside>
                                <div class="title-color text-center">
                                    <h4>World Cup Championship</h4>
                                </div>

                                <div class="content-counter content-counter-home">
                                    <p class="text-center"> 
                                        <i class="fa fa-clock-o"></i> 
                                        Countdown Till Start
                                    </p>
                                    <div id="event-one" class="counter"></div>
                                    <ul class="post-options">
                                        <li><i class="fa fa-calendar"></i>June 12, 2014</li>
                                        <li><i class="fa fa-clock-o"></i>Kick-of, 12:00 PM</li> 
                                    </ul>
                                    <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                    <a class="btn btn-primary" href="#">
                                        VIEW EVENT PAGE
                                        <i class="fa fa-trophy"></i>
                                    </a>
                                </div>
                            </aside>            
                            <!-- Content Counter -->
                        </div>
                        {% endcomment %}
                        <!-- End Right Content - Content Counter -->
                    </div>
                </div>   
                <!-- Dark Home -->

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">
                        
                        <!-- content Column Left -->
                        <div class="col-xs-12 col-md-6 col-lg-7">                     
                            <!-- Recent Post -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Recent News</h4>
                                </div>
{% for n in  news %}
                                <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="{% cropped_thumbnail n "thumb_small" %}" alt="" class="img-responsive">
                                               <div class="overlay"><a href="{% url 'news:story' n.slug %}"">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="{% url 'news:story' n.slug %}"">{{n.caption}}</a></h4>
                                            <p class="data-info"> {{n.created|date:"N d, Y"}}  </p>
                                            <p>{{n.story|truncatewords:20}}<br><a href="{% url 'news:story' n.slug %}">Read More [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->
{% empty %}
                                 
                                 
                             {% endfor %}
                            </div>  
                            <!-- End Recent Post --> 

                             
                        </div>
                         <!-- End content Left -->

                        <!-- content Sidebar Center -->
                        <aside class="col-xs-8 col-sm-8 col-md-5 col-lg-5">                     
                            <!-- Locations -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>1212 Spots</h4>
                                </div>
                                <!-- Locations Carousel --> 
                                <ul class="single-carousel">    
                                    <li>
                                        <img src="{% static 'img/blog/6.jpg' %}" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4> </h4>
                                            <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="{% static 'img/blog/2.jpg' %}" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4> </h4>
                                            <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                        </div>
                                    </li> 
                                    <li>
                                        <img src="{% static 'img/blog/3.jpg' %}" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4> </h4>
                                            <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                        </div>
                                    </li>                                    
                                </ul>
                                <!-- Locations Carousel -->                                
                            </div>  
                            <!-- End Locations --> 

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Videos</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                           <iframe class="video"  src="//www.youtube.com/embed/HkJgx-GqzOo"></iframe>
                                    <div class="col-md-12">
                                        <h4>Dubai World Cup 2014 </h4>
                                            <p> Worlds Richest Horse Race</p>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->

                            
                        </aside>
                        <!-- End content Sidebar Center -->

                        <!-- content Sidebar Right -->
                       {% comment %}
                        <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-2">                     
                            <!-- Diary -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4><i class="fa fa-calendar"></i>Upcoming</h4>
                                </div>
                                <!-- List Diary --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Whatever the mind can conceive and believe, it can achieve.</p>
                                        <ul class="list-diary">
                                            <!-- Item List Diary --> 
                                            <li>
                                                <h5>Team Name <span>06-05-2015 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="{% static 'img/clubs-logos/1.png' %}" alt="">
                                                        <h6>Real Madrid</h6>
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'img/clubs-logos/2.png' %}" alt="">
                                                        <h6>Valladolid</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 

                                            <!-- Item List Diary --> 
                                            <li>
                                                <h5>Team Name <span>06-05-2015 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="{% static 'img/clubs-logos/1.png' %}" alt="">
                                                        <h6>Real Madrid</h6>
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'img/clubs-logos/2.png' %}" alt="">
                                                        <h6>Valladolid</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 

                                            <!-- Item List Diary --> 
                                            <li>
                                               <h5>Team Name <span>06-05-2014 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="{% static 'img/clubs-logos/1.png' %}" alt="">
                                                        <h6>Real Madrid</h6>
                                                    </li>
                                                    <li>
                                                        <img src="{% static 'img/clubs-logos/2.png' %}" alt="">
                                                        <h6>Valladolid</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 
                                        </ul>
                                    </div>
                                </div>
                                <!-- End List Diary -->                                
                            </div>  
                           
                        </aside>
                        {% endcomment %}
                        <!-- End content Sidebar Right -->
                        
                    </div>                     
                </div>  
                <!-- End Content Central -->

                <!-- Newsletter -->
                {% include 'nl_subscriber.html' %}
                <!-- End Newsletter -->  
            </section>
            <!-- End Section Area -  Content Central -->
            {% endblock %}