{% extends "homebase.html" %}


{% block content %}
{% load staticfiles %}

 <!-- Slide -->           
            <section class="camera_wrap camera_white_skin" id="slide">
                <!-- Item Slide - Caption --> 
                <div  data-src="{% static "img/slide/slides/1.jpg" %}">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                    <h1 class="animated fadeInRight">
                                        Lorem Ipsum
                                    </h1>   
                                    <p class="animated fadeInRight delay1">The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->

                <!-- Item Slide - Caption --> 
                <div  data-src="{% static "img/slide/slides/2.jpg" %}">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                     <h1 class="animated fadeInRight">
                                        Lorem Ipsum
                                    </h1>   
                                    <p class="animated fadeInRight delay1">The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->

                <!-- Item Slide - Caption --> 
                <div  data-src={% static "img/slide/slides/3.jpg" %}">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                    <h1 class="animated fadeInRight">
                                        Lorem Ipsum
                                    </h1>   
                                    <p class="animated fadeInRight delay1">The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="#" class="btn btn-primary" name="subscribe" >More Info</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->  
            </section>   
            <!-- End Slide --> 

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="semiboxshadow text-center">
                    <img src="{% static 'img/img-theme/shp.png' %}" class="img-responsive" alt="">
                </div>
                
                <!-- Dark Home -->
                <div class="bg-dark dark-home">
                    <div class="row">
                        <!-- Left Content - Tabs and Carousel -->
                        <div class="col-md-9">
                            <!-- Nav Tabs -->
                            <ul class="nav nav-tabs" id="myTab">
                               <li class="active"><a href="#feature-news" data-toggle="tab">FEATURED EVENTS</a></li>
                               <li><a href="#players-staff" data-toggle="tab">PLAYERS AND STAFF</a></li>
                               <li><a href="#club-news" data-toggle="tab">CLUB TEAMS</a></li>
                            </ul>
                            <!-- End Nav Tabs -->

                            <!-- Content Tabs -->
                            <div class="tab-content">
                                <!-- Tab One - Feature News -->
                                <div class="tab-pane active" id="feature-news">
                                    <!-- blog post-->  
                                    <ul id="events-carousel" class="events-carousel padding-top">
                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span>08/jan</span>
                                                    2014
                                                </div>
                                                <a href="#"><img src="{% static "img/blog/1.jpg" %}" alt=""></a>
                                                
                                            </div>
                                            <div class="info-post">
                                                <h4><a href="#">Name Here</a></h4>
                                                <p>The Grounds which also doubles as a sporting centre was borne.</p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->

                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span>08/jan</span>
                                                    2014
                                                </div>
                                                <a href="#"><img src="{% static "img/blog/2.jpg" %}" alt=""></a>
                                                
                                            </div>
                                            <div class="info-post">
                                               <h4><a href="#">Name Here</a></h4>
                                                <p>The Grounds which also doubles as a sporting centre was borne.</p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->  

                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span>08/jan</span>
                                                    2014
                                                </div>
                                                <a href="#"><img src="{% static "img/blog/3.jpg" %}" alt=""></a>
                                                
                                            </div>
                                            <div class="info-post">
                                                <h4><a href="#">Name Here</a></h4>
                                                <p>The Grounds which also doubles as a sporting centre was borne.</p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->

                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span>08/jan</span>
                                                    2014
                                                </div>
                                                <a href="#"><img src="{% static "img/blog/4.jpg" %}" alt=""></a>
                                                
                                            </div>
                                            <div class="info-post">
                                               <h4><a href="#">Name Here</a></h4>
                                                <p>The Grounds which also doubles as a sporting centre was borne.</p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->

                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <div class="date">
                                                    <span>08/jan</span>
                                                    2014
                                                </div>
                                                <a href="#"><img src="{% static "img/blog/2.jpg" %}" alt=""></a>
                                                
                                            </div>
                                            <div class="info-post">
                                               <h4><a href="#">Name Here</a></h4>
                                                <p>The Grounds which also doubles as a sporting centre was borne.</p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->
                                    </ul>
                                    <!-- End blog post-->  
                                </div>
                                <!-- Tab One - Feature News -->

                                <!-- Tab Two - Players Staff -->
                                <div class="tab-pane" id="players-staff">
                                    <h3>Players Staff</h3>
                                    <!-- Item Players-->  
                                    <ul id="players-carousel" class="players ">
                                        <!-- Item Player -->  
                                        <li class="item-player">
                                            <img src="img/players/1.jpg" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">Name Here</a></h4>
                                                <div class="overlay-player">
                                                    <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport </p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Player post -->

                                        <!-- Item Player -->  
                                        <li class="item-player">
                                            <img src="img/players/2.jpg" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">Name Here</a></h4>
                                                <div class="overlay-player">
                                                    <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport </p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Player post -->

                                        <!-- Item Player -->  
                                        <li class="item-player">
                                            <img src="img/players/3.jpg" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">Name Here</a></h4>
                                                <div class="overlay-player">
                                                    <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport </p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Player post -->

                                        <!-- Item Player -->  
                                        <li class="item-player">
                                            <img src="img/players/4.jpg" alt="" class="img-responsive">
                                            <div class="info-player">
                                                <h4><a href="#">Name Here</a></h4>
                                                <div class="overlay-player">
                                                    <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport </p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Player post -->

                                        <!-- Item Player -->  
                                        <li class="item-player">
                                            <img src="img/players/5.jpg" alt="" class="img-responsive">
                                            <div class="info-player">
                                               <h4><a href="#">Name Here</a></h4>
                                                <div class="overlay-player">
                                                    <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport </p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Player post -->

                                        <!-- Item Player -->  
                                        <li class="item-player">
                                            <img src="img/players/6.jpg" alt="" class="img-responsive">
                                            <div class="info-player">
                                               <h4><a href="#">Name Here</a></h4>
                                                <div class="overlay-player">
                                                    <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport </p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Player post -->
                                    </ul>
                                    <!-- End Item Players-->  
                                </div>
                                <!-- Tab Two - Players Staff -->

                                <!-- Tab Theree - Club Teams -->
                                <div class="tab-pane" id="club-news">
                                    <h3>Club Teams</h3>
                                    <!-- Clubs Carousel-->  
                                    <ul id="clubs-carousel" class="clubs-teams">
                                        <!-- Item carousel club -->  
                                        <li class="row">
                                            <!-- Item clubs --> 
                                            <div class="col-sx-12 col-sm-6 col-md-6">
                                                <div class="item-clubs">
                                                    <div class="img-clubs">
                                                        <img src="img/clubs-team/1.png" alt="" class="img-responsive">
                                                    </div>
                                                    <div class="info-clubs">
                                                        <h4><a href="#">Team 1</a></h4>
                                                        <p>Lorem ipsum dolor sit amet,ectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item clubs --> 

                                            <!-- Item clubs --> 
                                            <div class="col-sx-12 col-sm-6 col-md-6">
                                                <div class="item-clubs">
                                                    <div class="img-clubs">
                                                        <img src="img/clubs-team/2.png" alt="" class="img-responsive">
                                                    </div>
                                                    <div class="info-clubs">
                                                        <h4><a href="#">Team 2</a></h4>
                                                        <p>Lorem ipsum dolor sit amet, ctetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item clubs --> 

                                            <!-- Item clubs --> 
                                            <div class="col-sx-12 col-sm-6 col-md-6">
                                                <div class="item-clubs">
                                                    <div class="img-clubs">
                                                        <img src="img/clubs-team/3.png" alt="" class="img-responsive">
                                                    </div>
                                                    <div class="info-clubs">
                                                        <h4><a href="#">Team 3</a></h4>
                                                        <p>Lorem ipsum dolor sit amet, coetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item clubs --> 

                                            <!-- Item clubs --> 
                                            <div class="col-sx-12 col-sm-6 col-md-6">
                                                <div class="item-clubs">
                                                    <div class="img-clubs">
                                                        <img src="img/clubs-team/4.png" alt="" class="img-responsive">
                                                    </div>
                                                    <div class="info-clubs">
                                                        <h4><a href="#">Team 4</a></h4>
                                                        <p>Lorem ipsum dolor sit amet, contur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item clubs --> 
                                        </li>
                                        <!-- End Item carousel club -->

                                        <!-- Item carousel club -->  
                                        <li class="row">
                                            <!-- Item clubs --> 
                                            <div class="col-sx-12 col-sm-6 col-md-6">
                                                <div class="item-clubs">
                                                    <div class="img-clubs">
                                                        <img src="img/clubs-team/5.png" alt="" class="img-responsive">
                                                    </div>
                                                    <div class="info-clubs">
                                                        <h4><a href="#">Team 5</a></h4>
                                                        <p>Lorem ipsum dolor sit amet,ectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item clubs --> 

                                            <!-- Item clubs --> 
                                            <div class="col-sx-12 col-sm-6 col-md-6">
                                                <div class="item-clubs">
                                                    <div class="img-clubs">
                                                        <img src="img/clubs-team/6.png" alt="" class="img-responsive">
                                                    </div>
                                                    <div class="info-clubs">
                                                        <h4><a href="#">Team 6</a></h4>
                                                        <p>Lorem ipsum dolor sit amet, ctetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item clubs --> 

                                            <!-- Item clubs --> 
                                            <div class="col-sx-12 col-sm-6 col-md-6">
                                                <div class="item-clubs">
                                                    <div class="img-clubs">
                                                        <img src="img/clubs-team/1.png" alt="" class="img-responsive">
                                                    </div>
                                                    <div class="info-clubs">
                                                        <h4><a href="#">Team 7</a></h4>
                                                        <p>Lorem ipsum dolor sit amet, coetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item clubs --> 

                                            <!-- Item clubs --> 
                                            <div class="col-sx-12 col-sm-6 col-md-6">
                                                <div class="item-clubs">
                                                    <div class="img-clubs">
                                                        <img src="img/clubs-team/4.png" alt="" class="img-responsive">
                                                    </div>
                                                    <div class="info-clubs">
                                                        <h4><a href="#">Team 8</a></h4>
                                                        <p>Lorem ipsum dolor sit amet, contur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Item clubs --> 
                                        </li>
                                        <!-- End Item carousel club -->
                                    </ul>
                                    <!-- End Clubs Carousel-->  
                                </div>
                                <!-- Tab Theree - Club Teams -->
                            </div>
                            <!-- Content Tabs -->
                        </div> 
                        <!-- Left Content - Tabs and Carousel -->    

                        <!-- Right Content - Content Counter -->
                        <div class="col-md-3">
                            <aside>
                                <div class="title-color text-center">
                                    <h4>World Cup Championship</h4>
                                </div>

                                <div class="content-counter content-counter-home">
                                    <p class="text-center"> 
                                        <i class="fa fa-clock-o"></i> 
                                        Countdown Till Start
                                    </p>
                                    <div id="event-one" class="counter"></div>
                                    <ul class="post-options">
                                        <li><i class="fa fa-calendar"></i>June 12, 2014</li>
                                        <li><i class="fa fa-clock-o"></i>Kick-of, 12:00 PM</li> 
                                    </ul>
                                    <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                    <a class="btn btn-primary" href="#">
                                        VIEW EVENT PAGE
                                        <i class="fa fa-trophy"></i>
                                    </a>
                                </div>
                            </aside>            
                            <!-- Content Counter -->
                        </div>
                        <!-- End Right Content - Content Counter -->
                    </div>
                </div>   
                <!-- Dark Home -->

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">
                        
                        <!-- content Column Left -->
                        <div class="col-xs-12 col-md-6 col-lg-7">                     
                            <!-- Recent Post -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Recent News</h4>
                                </div>

                                <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="img/blog/1.jpg" alt="" class="img-responsive">
                                               <div class="overlay"><a href="#">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="#">Believe It's Possible</a></h4>
                                            <p class="data-info">Aug 3, 2014  / <i class="fa fa-comments"></i><a href="#">0</a></p>
                                            <p>"Whatever the mind can conceive and believe, it can achieve. In fact, the mind is such a powerful instrument; it can deliver to you literally everything you want.<br><a href="#">Read More [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->

                                 <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="img/blog/2.jpg" alt="" class="img-responsive">
                                               <div class="overlay"><a href="#">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                           <h4><a href="#">Believe It's Possible</a></h4>
                                            <p class="data-info">Aug 3, 2014  / <i class="fa fa-comments"></i><a href="#">0</a></p>
                                            <p>"Whatever the mind can conceive and believe, it can achieve. In fact, the mind is such a powerful instrument; it can deliver to you literally everything you want.<br><a href="#">Read More [+]</a></p>                                                                                     
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->

                                 <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                          <div class="img-hover">
                                               <img src="img/blog/3.jpg" alt="" class="img-responsive">
                                               <div class="overlay"><a href="#">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                           <h4><a href="#">Believe It's Possible</a></h4>
                                            <p class="data-info">Aug 3, 2014  / <i class="fa fa-comments"></i><a href="#">0</a></p>
                                            <p>"Whatever the mind can conceive and believe, it can achieve. In fact, the mind is such a powerful instrument; it can deliver to you literally everything you want.<br><a href="#">Read More [+]</a></p>                                                                                     
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->

                                 <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="img/blog/4.jpg" alt="" class="img-responsive">
                                               <div class="overlay"><a href="#">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                           <h4><a href="#">Believe It's Possible</a></h4>
                                            <p class="data-info">Aug 3, 2014  / <i class="fa fa-comments"></i><a href="#">0</a></p>
                                            <p>"Whatever the mind can conceive and believe, it can achieve. In fact, the mind is such a powerful instrument; it can deliver to you literally everything you want.<br><a href="#">Read More [+]</a></p>                                                                                     
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                            </div>  
                            <!-- End Recent Post --> 

                            <!-- Experts -->
                            <div class="panel-box">                            
                                <div class="titles">
                                    <h4>Sports Experts</h4>
                                </div>     

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Name Here</a></h5>
                                            <p class="date-box">Aug 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Name Here</a></h5>
                                            <p class="date-box">Aug 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Name Here</a></h5>
                                            <p class="date-box">Aug 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                           <h5 class="entry-title"><a href="#">Name Here</a></h5>
                                            <p class="date-box">Aug 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Name Here</a></h5>
                                            <p class="date-box">Aug 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Name Here</a></h5>
                                            <p class="date-box">Aug 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Name Here</a></h5>
                                            <p class="date-box">Aug 15, 2014</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                                        <div class="box-info">
                                            <img src="img/experts/1.png" alt="" class="img-responsive">
                                            <h5 class="entry-title"><a href="#">Name Here</a></h5>
                                            <p class="date-box">Aug 15, 2014</p>
                                        </div>
                                    </div> 

                                </div>                          
                            </div>  
                            <!-- End Experts -->  
                        </div>
                         <!-- End content Left -->

                        <!-- content Sidebar Center -->
                        <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-3">                     
                            <!-- Locations -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Locations</h4>
                                </div>
                                <!-- Locations Carousel --> 
                                <ul class="single-carousel">    
                                    <li>
                                        <img src="img/blog/1.jpg" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4>Name Here</h4>
                                            <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="img/blog/2.jpg" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4>Name Here</h4>
                                            <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                        </div>
                                    </li> 
                                    <li>
                                        <img src="img/blog/3.jpg" alt="" class="img-responsive">
                                        <div class="info-single-carousel">
                                            <h4>Name Here</h4>
                                            <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                        </div>
                                    </li>                                    
                                </ul>
                                <!-- Locations Carousel -->                                
                            </div>  
                            <!-- End Locations --> 

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Presentation</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Name Here</h4>
                                            <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful game of Polo ‘Sport of Kings’ and the exhilaration of horse racing to thrill seekers in the booming metropolis of the Federal Capital Territory (FCT). As such,</p>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->

                            <!-- Widget Text-->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Widget Text</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>The Grounds which also doubles as a sporting centre was borne out of a desire to bring the beautiful</p>
                                    </div>
                                </div>
                            </div>  
                            <!-- End Widget Text-->
                        </aside>
                        <!-- End content Sidebar Center -->

                        <!-- content Sidebar Right -->
                        <aside class="col-xs-6 col-sm-6 col-md-3 col-lg-2">                     
                            <!-- Diary -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4><i class="fa fa-calendar"></i>Diary</h4>
                                </div>
                                <!-- List Diary --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Whatever the mind can conceive and believe, it can achieve.</p>
                                        <ul class="list-diary">
                                            <!-- Item List Diary --> 
                                            <li>
                                                <h5>Team Name <span>06-05-2014 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="img/clubs-logos/1.png" alt="">
                                                        <h6>Real Madrid</h6>
                                                    </li>
                                                    <li>
                                                        <img src="img/clubs-logos/2.png" alt="">
                                                        <h6>Valladolid</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 

                                            <!-- Item List Diary --> 
                                            <li>
                                                <h5>Team Name <span>06-05-2014 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="img/clubs-logos/1.png" alt="">
                                                        <h6>Real Madrid</h6>
                                                    </li>
                                                    <li>
                                                        <img src="img/clubs-logos/2.png" alt="">
                                                        <h6>Valladolid</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 

                                            <!-- Item List Diary --> 
                                            <li>
                                               <h5>Team Name <span>06-05-2014 - 11:00</span></h5>
                                                <ul class="club-logo">
                                                    <li>
                                                        <img src="img/clubs-logos/1.png" alt="">
                                                        <h6>Real Madrid</h6>
                                                    </li>
                                                    <li>
                                                        <img src="img/clubs-logos/2.png" alt="">
                                                        <h6>Valladolid</h6>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- End Item List Diary --> 
                                        </ul>
                                    </div>
                                </div>
                                <!-- End List Diary -->                                
                            </div>  
                           
                        </aside>
                        <!-- End content Sidebar Right -->
                        
                    </div>                     
                </div>  
                <!-- End Content Central -->

                <!-- Newsletter -->
                <div class="section-wide">
                    <div class="container">
                        <div class="row newsletter">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
                                    <p>Whatever the mind can conceive and believe, it can achieve.</p>
                                </div>
                                <form id="newsletterForm" action="#">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input class="form-control" placeholder="Your Name" name="name"  type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input class="form-control" placeholder="Your  Email" name="email"  type="email" required>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe" >SIGN UP</button>
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>   
                                <div id="result-newsletter"></div>
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- End Newsletter -->  
            </section>
            <!-- End Section Area -  Content Central -->
            {% endblock %}