 {%  extends 'homebase.html' %}
 {% load staticfiles %}
 
{% load cropping %}
{% load daguerre %}

 {% block content %}
  

        <!--slider-->
         
        <span class="col-sm-12 col-md-12 col-lg-12">
            <br/>
              <br/>   <br/>   <br/>    <br/>    <br/>    
        </span>
        
    <div class="container-fluid" style="margin: 0px -15px">
    
        <div id="myCarousel" class="carousel slide"  style="clear:both;" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               
               {% for s in sliders %}
                <li data-target="#myCarousel" class="{% if forloop.first %}active{% endif %}" data-slide-to="{{forloop.counter0}}"></li>
               {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                 {% for s in sliders %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="{% adjust s.banner "fit" %}" alt="{{s.title}}" style="width: 100%;" />
                </div>
            {% empty %}
                <div class="item">
                    <img src="{% static 'polo-new/' %}1212polo_files/1.jpg" alt="Chania">
                </div>

                <div class="item">
                    <img src="{% static 'polo-new/' %}1212polo_files/1.jpg" alt="Flower">
                </div>

                <div class="item">
                    <img src="{% static 'polo-new/' %}1212polo_files/1.jpg" alt="Flower">
                </div>
                
                {% endfor %}
            </div>

            
        </div>
    </div>

        <!--slider end-->



 <!-- content area -->
 
 <div class="content-padding post-1928 page type-page status-publish hentry" id="content">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="vc_row wpb_row vc_row-fluid">
               <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="wpb_wrapper">
                     <div class="vc_row wpb_row vc_inner vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="wpb_wrapper">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <h1 style="text-align: center;">Welcome to 12-12 Polo Club</h1>
                                    <div class="lead  default" style="text-align:center">
                                       Abuja Premier equisterial sport center,established with the aim of bringing the beautiful game of Polo and the exhilaration of horse racing to thrill seekers in the blooming metropolis of Abuja the Federal Capital of Nigeria (FCT).
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="vc_row wpb_row vc_inner vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                           <div class="wpb_wrapper">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <div class="photo-frame"><img class="photo-frame alignnone wp-image-321 size-medium" src="{% static  'img/' %}events.jpg" alt="Events " height="192" width="360"></div>
                                    <h3 class="special-title" style="text-align: center;">Events</h3>
                                    <p style="text-align: center;">We organize all year round activities centered around the game of polo and horse racing. </p>
                                    <p style="text-align: center;">
                                       <a href="#" class="colour">See All Events</a>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </div>
                         
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                           <div class="wpb_wrapper">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <div class="photo-frame">
                                       <img class="photo-frame alignnone wp-image-322 size-medium" src="{% static 'img/' %}announcement.jpg" alt="Announcement" height="192" width="360">
                                    </div>
                                    <h3 class="special-title" style="text-align: center;">Announcements</h3>
                                    <p style="text-align: center;">We announce important message and updates through this board.</p>
                                    <p style="text-align: center;"><a href="#" class="colour">View All Announcements</a></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                           <div class="wpb_wrapper">
                              <div class="wpb_text_column wpb_content_element ">
                                 <div class="wpb_wrapper">
                                    <div class="photo-frame">
                                        <img class="photo-frame alignnone wp-image-391 size-medium" src="{% static  'img/' %}matches.jpg" alt="Matches Result" height="199" width="360"></div>
                                    <h3 class="special-title" style="text-align: center;">Latest Match Results</h3>
                                    <p style="text-align: center;">Our matches results are all archived and updated regularly on this website.</p>
                                    <p style="text-align: center;"><a href="#" class="colour">View All Match Results</a></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
 <!--  end content area -->
 
 
 <!-- News Area -->
 
 <aside class="pre-footer animated animated_off" style="display: block; opacity: 1;">
   <div class="container">
      <div class="row" style="position: relative; height: 173.5px;">
         <aside id="curly_recent_widget-3" class="sidebar-widget custom_recent_posts animated col-xs-12 col-xs-12 animated_off" style="position: absolute; left: 0px; top: 0px; display: block; opacity: 1;">
            <ul class="recent-posts type-thumbnail" style="position: relative; height: 117.5px;">
               {% for n in  news %}
               <li class="recent-news-odd recent-post  cols-3 clearfix" style="position: absolute; left: 0px; top: 0px;">
                  <time datetime="2013-07-11"><span>{{n.created|date:"d"}}</span><em>{{n.created|date:"M"}}</em></time><a href="{% url 'news:story' n.slug %}">
                  <img width="150" height="150" src="{% cropped_thumbnail n "thumb_small" %}" class="img-responsive wp-post-image" alt="{{n.caption}}"></a>
                  <h6><a href="{% url 'news:story' n.slug %}"> {{n.caption|truncatewords:9}}</a></h6>
                  <span>
                    <a href="{% url 'news:story' n.slug %}">{{n.category}}</a> -
                   
                    <a href="{% url 'news:story' n.slug %}">News</a></span>
               </li>
               {% empty %}
               <li class="recent-news-even recent-post  cols-3 clearfix" style="position: absolute; left: 380px; top: 0px;">
                  <time datetime="2013-07-07"><span>07</span><em>Jul</em></time><a href="http://demo.curlythemes.com/equestrian/"><img width="150" height="150" src="http://demo.curlythemes.com/equestrian/wp-content/uploads/sites/2/2013/07/941351-1024x768-image-51400499-1024x768-150x150.jpg" class="img-responsive wp-post-image" alt="941351-1024x768-image-51400499-1024x768"></a>
                  <h6><a href="http://demo.curlythemes.com/equestrian/international-helmet-awareness-day-2013/">    12-12 Polo and Turf Club is where records are set and broken; 11 year old Primary 5 pupil of El-Amin</a></h6>
                  <span><a href="http://demo.curlythemes.com/equestrian/category/competitions/">Competitions</a> - <a href="http://demo.curlythemes.com/equestrian/category/news/">News</a></span>
               </li>
               <li class="recent-news-odd recent-post  cols-3 clearfix" style="position: absolute; left: 760px; top: 0px;">
                  <time datetime="2013-06-30"><span>30</span><em>Jun</em></time><a href="http://demo.curlythemes.com/equestrian/"><img width="150" height="150" src="http://demo.curlythemes.com/equestrian/wp-content/uploads/sites/2/2013/07/horse-03-150x150.jpg" class="img-responsive wp-post-image" alt="horse-03"></a>
                  <h6><a href="http://demo.curlythemes.com/equestrian/discount-registration-offered-for-older-arabian-and-half-arabian-horses/">  Former governor of Rivers State Rt Hon Rotimi Amaechi explains why he doesn't play Polo.</a></h6>
                  <span><a href="http://demo.curlythemes.com/equestrian/category/competitions/">Competitions</a> - <a href="http://demo.curlythemes.com/equestrian/category/legal/">Legal</a></span>
               </li>
               
               {% endfor %}
            </ul>
         </aside>
      </div>
   </div>
</aside>
 <!-- End News Area -->
 
 
{% endblock %}
  